body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 11pt; 
  font-family: arial;
}

strong {
	color: orange;
}

.jumbotron {
	background-image: url('../logo.png');
	background-repeat: no-repeat;
	background-blend-mode: color-dodge;
	background-position: right;
	background-size: contain;
	background-color: gainsboro;
}

.jumbotron h1 {
	color: white;
	text-shadow: 4px 4px 15px black;
}

.page-header{
	border-radius: 6px;
	padding: 5px 15px;
	margin: 10px 0px;
}

h1.page-header {
	background-color: rgb(75, 125, 190);
	color: white;
}

h2.page-header {
	background-color: rgb(218, 229, 241);
}

h3.page-header {
	background-color: rgb(238, 238, 238);
}

.badge-info a {
	color: orange;
}